services:
  app:
    build:
      context: ../..
      dockerfile: microservices/flight_search/Dockerfile
    ports:
      - "8081:8081"
    env_file:
      - ./.env
    extra_hosts:
      - "host.docker.internal:host-gateway"
