@import "tailwindcss";

@layer base {
  :root {
    @apply text-[rgba(255,255,255,0.87)] bg-[#242424] font-sans;
  }

  body {
    @apply min-w-[320px] min-h-screen relative m-0;
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
